 <html xmlns="http://www.w3.org/1999/xhtml">    
  <head>      
    <title>Thanks</title>      
    <meta http-equiv="refresh" content="0;URL='/'" />    
  </head>    
  <body> 
    <p>Thank you for signing up! You are being <a href='/'>redirected</a>. </p> 
  </body>  
</html>     