<font face="Helvetica" size=4><center>
<h1>Hello!</h1>
<br>
Thanks for signing up to Shapd. We're excited to be launching our app in a few weeks and are glad you're interested in getting our pre-launch info and updates. You'll get to see behind the scenes as we're making the product and we'll develop it around your input. We'll be looking for alpha testers soon, so expect us to reach out when we're closer to launch. 
<br><br>
<h3>Stunning, self-designed jewelry is just around the corner. </h3>
<br><br>
Best,<br>
Jon and the Shapd Team</center>
</font>